//
// cta.scss
//


.bg-cta{
    background-image: url(../images/surreal5.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    background-position: center;
}

